.content .main{padding-top: 140px!important;}
.block-text, .content .main .text h1,.content .main .text p{
    text-align: justify;
}
@media screen and (max-width: 900px)
{
.content .main .text h1 {
   
    text-align: initial;} 
    .content .main{padding-top: 100px!important;}
    .orion-token-section svg {
        display: none;
    }

}

    @media screen and (max-width: 1024px)
{
.content .main .text h1 {
   
    text-align: initial;} 
    .orion-token-section svg {
        display: none;
    }
}